body{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    background: hsl(0, 100%, 74%)  url("../images/bg-intro-mobile.png");
}




























.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }